@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

$primary: #d3d3d3; //lightgrey
$secondary: #22b14c; //green
$third: #b5e61d; //lemongreen
$text: #222222; //darkgrey

html, body {
  height: 100%;
  width: 100%;
  font-family: "Saira", sans-serif;
  color: $text;
}

hr {
  border-top: 2px solid $primary;
  background-color: transparent;
  width: 95%;
  margin: .3rem auto 1rem;
  opacity: 1;
}

nav img {
  height: 50%;
  width: 50%;
}

article {
  width: 75%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .card {
    margin-bottom: 1.5rem;
  }
}

footer {
  background-color: $primary !important;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-top: 5rem;

  hr {
    border-top: 2px solid $secondary;
    margin-bottom: 0.5rem;
    width: 100% !important;
    opacity: 0.5;
  }

  h4 {
    font-size: 1.4em;
  }

  a {
    font-size: 1.4em;
    color: $text;
    text-decoration: none;
    margin-bottom: 1rem !important;

    &:hover {
      color: $secondary;
    }
  }

  .copy {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .social {
    font-size: 3.5em;
    padding: 1rem;
  }

  .privacy, .cookie {
    padding: 0.5rem !important;
  }
}

#projects, #aboutMe {
  background-color: $primary;

  hr {
    border-top: 2px solid $secondary;
    opacity: 0.7;
  }
}

#skills, #contacts {
  border: 1px solid $secondary;
}

#skills .card img {
  width: 4rem;
  height: 4rem;
  margin-top: 2rem;
  margin: 2rem auto 0;
}

.padding {
  padding-top: 10rem;
}

.margin {
  margin-top: 2rem !important;
}

.navbar {
  padding: .8rem;
  background-color: $primary !important;

  &-nav li {
    padding-right: 20px;
  }
}

.nav-link {
  font-size: 1.4em !important;
  color: $text !important;

  &:hover {
    color: $secondary !important;
  }
}

.img-fluid {
  width: 75%;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  border-top: 0.7rem;
}

.welcome {
  width: 75% !important;
  margin: 0 auto;
  padding-top: 10rem;
}

.link {
  text-decoration: none;
  color: $secondary;

  &:hover {
    color: $primary;
  }
}

.display-6 {
  color: $secondary;
}

.carousel {
  border: 1px solid $secondary;
  width: 75% !important;
  margin: 0 auto;

  img {
    opacity: 0.7;
  }

  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
  }

  .carousel-button {
    text-decoration: none;
    color: $text;
    border-radius: 5px;
    background-color: $secondary;
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;

    &:hover {
      background-color: $third;
      cursor: pointer;
    }
  }
}

#cardSmallScreen {
  width: 100% !important;
  margin: 0 auto;
  padding: 0;

  img {
    opacity: 0.7;
  }

  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    color: $text;

    h5 {
      margin-bottom: 1.2rem;
    }
  }

  .carousel-button {
    text-decoration: none;
    color: $text;
    border-radius: 5px;
    background-color: $secondary;
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;

    &:hover {
      background-color: $third;
      cursor: pointer;
    }
  }
}

.card {
  border-color: $secondary !important;

  i {
    font-size: 4rem;
    margin-top: 2rem;
  }

  .bg-success {
    background-color: $secondary !important;
  }
}

.row {
  width: 95%;
  margin: 0 auto;
}

.fa {
  &-html5 {
    color: #e34c26;
  }

  &-css3-alt {
    color: #264de4;
  }

  &-js {
    color: #f0db4f;
  }

  &-bootstrap {
    color: #563d7c;
  }

  &-sass {
    color: #cc6699;
  }

  &-vuejs {
    color: #42b883;
  }

  &-php {
    color: #aeb2d5;
  }

  &-database {
    color: #f29111;
  }

  &-bolt {
    color: #ffff00;
  }

  &-compass {
    color: #808080;
  }

  &-check-circle {
    color: #00bb2d;
  }

  &-lightbulb {
    color: #ff7514;
  }

  &-linkedin {
    color: #2867b2;

    &:hover {
      color: $secondary;
    }
  }

  &-github-square {
    color: #171515;

    &:hover {
      color: $secondary;
    }
  }

  &-instagram {
    color: #517fa4;

    &:hover {
      color: $secondary;
    }
  }
}

.dashed {
  border-top-style: dashed;
}

@media (max-width: 992px) {
  .display-4{
    font-size: 270%;
  }

  .display-6 {
    font-size: 170%
  }

  footer {
    h4, a {
      font-size: 1.2em;
    }

    h5 {
      font-size: 1em;
    }

    .social {
      font-size: 3em;
      padding: .8rem;
    }
  }

  .img-fluid {
    width: 170%
  }

  .nav-link {
    font-size: 1.2em !important;
  }

  nav img {
    height: 45%;
    width: 45%;
  }

  .card-title {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 767px) {
  .display-4 {
    font-size: 230%;
  }

  .display-6 {
    font-size: 130%
  }

  footer {
    .social {
      font-size: 2.8em;
      padding: .5rem;
    }
  }

  nav img {
    height: 40%;
    width: 40%;
  }

  /*.space {
    margin-bottom: 1rem;
  }*/

  .img-fluid {
    width: 70%;
  }

  .lead {
    text-align: center;
  }

  .card-title {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.45em;
  }
}

@media (max-width: 576px) {
  .display-4 {
    font-size: 190%;
  }

  nav img {
    height: 30%;
    width: 30%;
  }

  /*.space {
    margin-bottom: 1rem;
  }*/

  .img-fluid {
    width: 85%
  }

  h2 {
    font-size: 1.4em;
  }

  #cardSmallScreen {
    .carousel-caption {
      border-radius: 0.5rem;

      h5 {
        margin-bottom: 0.9rem;
        font-size: 95%;
      }
    }

    .carousel-button {
      border-radius: 3px;
      font-size: 80%;
    }
  }
}

@media (max-width: 447px) {
  #cardSmallScreen {
    .carousel-caption {
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 0.3rem;

      h5 {
        margin-bottom: 0.6rem;
        font-size: 90%;
      }
    }

    .carousel-button {
      border-radius: 1px;
      font-size: 70%;
    }
  }
}

@media (max-width: 400px) {
  #cardSmallScreen {
    .carousel-caption {
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 0.2rem;

      h5 {
        margin-bottom: 0.4rem;
        font-size: 85%;
      }
    }

    .carousel-button {
      border-radius: 0.7px;
      font-size: 65%;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;

  &-track {
    box-shadow: inset 0 0 5px $primary;
    border-radius: 2.5px;
  }

  &-thumb {
    background: $secondary;
    border-radius: 2.5px;

    &:hover {
      background: $third;
    }
  }
}
